/*

h1,h2,h3,h4,h5,h6{padding: 0px;margin: 0px;}
a{text-decoration: none}
input{padding: 0px;margin: 0px;}
p{margin: 0px;}*/
/*//公共导航栏*/
body{margin: 0px;}
#indexnav{z-index: 100;width: 100%;height: 120px;left: 0%;right: 0%;background-color: white}
#indexnav .active{color: red;border-top: 3px solid red;background-color: #F0F0F0}
#indexnav-top{width: 1366px;min-width:1366px;height: 120px; background-color: rgba(255,255,255,0.66);margin: 0 auto;padding: 0 84px;display: flex;justify-content: space-between}
.indexlogin{width: 270px;height: 120px; }
.indexlogin .link{display: flex;text-decoration: none}
.indexlogin .link h1{font-family: 宋体;font-weight: 800;color: black}
.indexproject{width: 807px;height: 120px;display: flex;justify-content: space-between}
.indexproject a{display:block;height: 120px;width: auto;line-height: 120px;color: black;font-weight: 400;font-size: 18px;text-decoration: none;padding: 0 19px;flex-grow: 1}
.indexproject a:hover{color: red;border-top: 3px solid red;background-color: #F0F0F0}

/*搜索框*/
.indexproject .Search{line-height: 120px;position: relative;width: 50px;padding: 0 19px;}
#navSearch{position: absolute;top: 120px;right: 0px;width: 280px;height: 67px;border: 10px solid #9d9d9d;display: none;z-index: 100}
#navSearch input[type=text]{width:190px;height: 47px;background-color: white;outline: none;border: 0px;position:absolute;top: 0;
    text-align: left;font-size: 16px;padding-left: 10px;}
#navSearch input[type=submit]{width: 70px;height: 47px;line-height: 47px;position: absolute;right: 0px;background-color: red;color: white;border: 0px;outline: 0px;font-size: 16px;}
.indexproject .Search:hover #navSearch{display: block}


/*销售记录*/
#service{width: 1200px;min-width: 1200px;height: 96px;margin: 45px auto;display: flex}
#service div{text-align: center;width: 25%}
#service p{font-size: 18px;padding-top: 5px;margin-bottom: 10px;}
#service strong{font-size: 50px;color: red;line-height: 50px;}
#service span{vertical-align: top;text-indent: 50px;}

/*侧边栏*/
#nav-tips{width: 65px;position: fixed;right: 0px;bottom:100px;right: 30px;z-index: 100;text-align: center; display: flex;flex-direction:column;align-content: space-between}
#nav-tips div{width: 100%;height:65px;background-color:white;text-align: center;line-height: 58px;display: block;position: relative;margin-bottom: 1px;}
#nav-tips div:nth-child(1){background:#B9B9B9 url("../images/icons/nav-rigth01.png")no-repeat 22px 15px;}
#nav-tips div:nth-child(1):hover{background:#DD0000 url("../images/icons/nav-rigth01.png")no-repeat 22px 15px;color: white }
#nav-tips div:nth-child(2){background:#B9B9B9 url("../images/icons/nav01.png")no-repeat 20px 15px;}
#nav-tips div:nth-child(2):hover{background:#DD0000 url("../images/icons/nav01.png")no-repeat 20px 15px;color: white }
#gong{width: 110px;height: 131px;border: 2px solid red;background-color: white;color: black;text-align: center;position: fixed;right: 95px;bottom:167px;z-index: 100;display: none  }
#nav-tips div:nth-child(3){background:#B9B9B9 url("../images/icons/nav-rigth03.png")no-repeat 20px 15px;}
#nav-tips div:nth-child(3):hover{background:#DD0000 url("../images/icons/nav-rigth03.png")no-repeat 20px 15px;color: white }
#nav-tips div:nth-child(3):hover #gong{display: block}
#nav-tips div:nth-child(4){background:#B9B9B9 url("../images/icons/nav-rigth04.png")no-repeat 20px 13px;}
.phonenum{font-family: Arial;width: 236px;height: 65px;background-color: red;color: white;font-size: 30px;line-height: 64px;position: fixed;text-align: center;font-weight: 600;right: 95px;bottom:157px;display: none;padding: 0 20px}
#nav-tips div:nth-child(4):hover{background:#DD0000 url("../images/icons/nav-rigth04.png")no-repeat 20px 13px;color: white }
#nav-tips div:nth-child(4):hover .phonenum{display: block}
#nav-tips div:nth-child(5){background:#B9B9B9 url("../images/icons/nav-rigth05.png")no-repeat 23px 18px;border-bottom:none}
#nav-tips div:nth-child(5):hover{background:#DD0000 url("../images/icons/nav-rigth05.png")no-repeat 23px 18px;color: white }
#nav-tips div:nth-child(5):hover .phonenum{display: block;}
#nav-tips div{color: #666666;line-height: 100px;width: 65px;height: 65px;display: block;text-decoration: none;font-size: 12px }


/*友情链接*/
#linkfater{width: 100%;height: 100px;border-bottom: 1px solid #d4d4d4;background-color:#606060; }
#link{width: 1200px;min-width: 1200px;height: 100px;padding: 40px 0;margin: 0 auto;display: flex}
#link .link{font-size: 20px;color: white;padding-right: 10px;line-height: 20px}
#link a{color: #CACACA;text-decoration: none;font-size: 14px;margin: 0 15px;line-height: 20px;}
#link a:hover{color: white}
/*
关于我们*/
#contentfater{width: 100%;height: 358px;border-bottom: 1px solid #777777;background-color:#606060;min-width: 1200px;}
#ontent{width: 1200px;min-width: 1200px;height: 358px;margin: 0 auto;display: flex}
#ontent .content1{width: 650px;height: 359px;padding: 50px 80px 50px 0;display: flex;justify-content: space-between;}
#ontent .content1 .project{width: 115px;height:229px;margin-right: 75px; }
#ontent .content1 .project p{font-size: 24px;color: white;margin-bottom: 30px;font-weight: 500;height: 24px;line-height: 24px;}
#ontent .content1 .project a{display: block;text-decoration: none;color: #B6B6B6;margin-bottom: 18px;;height: 15px;font-size: 15px;line-height: 15px;}
#ontent .content1 .project a:hover{color: white }
#ontent .content2{width: 580px;height: 359px;padding: 50px 0px 50px 0;margin-right: 20px;}
#ontent .content2 p{font-size: 24px;color: white;margin-bottom: 30px;height: 24px;margin-bottom: 30px;line-height: 24px;}
#ontent .content2 div{font-size: 15px;color:#B6B6B6;height: 50px; }
#ontent .content2 div h6{font-size: 15px;margin-bottom: 17px;}
#ontent .content2 div strong{color:white;font-weight: 600;margin-right: 30px; }
#ontent .content2 .app{padding-top: 30px;height: 160px;display: flex}
#ontent .content2 .app .project1{width:100px;height: 145px;margin-right: 30px;}
#ontent .content2 .app .project1 p{font-size: 12px;padding-top: 10px;color:#B6B6B6;text-align: center;line-height: 20px; }

/*版权*/
#copyfater{width: 100%;height: 60px;background-color: #606060}
#copy{width: 1200px;min-width: 1200px;color:#B6B6B6;font-size: 16px;padding: 20px 0;margin: 0 auto }